body {
  background-color: #eeee;
}

form {
  margin: 2rem;
}
input {
  display: block;
  margin: 1rem;
}
.btnFancy {
  font-size: 1.5rem;
  font-weight: bolder;
  transition: all 0.2s linear;
  border: 5px solid rgb(49, 144, 221);
  background-color: rgb(255, 255, 255);
  color: rgb(49, 144, 221);
}

.btnFancy:hover {
  transition: all 0.2s linear;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(49, 144, 221);
  color: rgb(255, 255, 255);
}
